@font-face {
  font-family:TexGyreAdventor;
  src:url('../fonts/TexgyreadventorRegular.woff') format('woff');
  }

@font-face {
  font-family:TexGyreAdventor;
  font-weight:bold;
  src:url('../fonts/TexgyreadventorBold.woff') format('woff');
  }

@font-face {
  font-family:TexGyreAdventor;
  font-style:italic;
  src:url('../fonts/TexgyreadventorItalic.woff') format('woff');
  }
  
body, td, div, input, textarea{
	font-family: "TexGyreAdventor", "trebuchet ms", verdana;
	color: #666;
	-webkit-font-smoothing: antialiased;
}

body{
	background: #0a0a0a url('../images/bg_body.gif') repeat-x top left;	
	margin: 0;
	padding: 0;
	*text-align: center;
}

a, a:visited{
	text-decoration: none;
	color: #8f0000;
}

a:hover{
	color: #ff0000;
}

.itext{
	border: 2px solid #e6e6e6;
	backgound-color: #fff;
	padding: 3px 5px;
	font-size: 12pt;
}

#wrapper{
	margin: 20px auto;
	width: 1024px;
	text-align: left;
	background-color: #fff;
	overflow: hidden;
	border-radius:15px;
	-moz-border-radius:15px;
	-webkit-border-radius:15px;
	border-top-left-radius-:60px;
	-moz-border-radius-topleft:60px;
	-webkit-border-top-left-radius:60px;
	box-shadow: 0px 0px 20px #000;
	-moz-box-shadow: 0px 0px 20px #000;
	-webkit-box-shadow: 0px 0px 20px #0000;
}

.clear{
	clear: both;	
}

#top{
	clear: both;	
	overflow: hidden;
}

#top #logo,
#top #menu{
	float: left;	
	clear: both;
	overflow: hidden;
}
#top #logo{
	padding-top: 30px;
	padding-left: 30px;
}
#top #menu{
	margin-top: -10px;
	margin-left: 130px;
}
#top .menu{
	margin: 0;
	padding: 0;
}
#top .menu li{
	list-style: none;
	float: left;
	margin: 0 20px 0 0;
	font-size: 11pt;
	transition:all 200ms;
	-moz-transition:all 200ms;
	-webkit-transition:all 200ms;
	border-bottom: 2px solid #fff;
}

#top .menu li a,
#top .menu li a:visited{
	text-decoration: none;
	color: #000;
	padding: 2px;
}

#top .menu li.item:hover{
	transition:all 200ms;
	-moz-transition:all 200ms;
	-webkit-transition:all 200ms;
	border-bottom: 2px solid #000;
}
#top .menu li.item:hover a{
	color: #8f0000;
}

#top #social{
	float: right;
	clear: right;
	margin-top: -100px;
	margin-right: 10px;
}
#top #social .twitter,
#top #social .facebook,
#top #social .rss{
	float: left;
	display: block;
	width: 27px;
	height: 27px;
	background: url(../images/social_tile.png);
	text-indent: -9999;
	margin-left: 3px;
}
#top #social .twitter{
	background-position: left;
}
#top #social .facebook{
	background-position: center;
}
#top #social .rss{
	background-position: right;
}
#top #social .social_link{
	float: left;
	display: block;
	margin: 0px 10px;
	padding: 2px 10px;
	font-size: 11pt;
	transition:all 200ms;
	-moz-transition:all 200ms;
	-webkit-transition:all 200ms;
	border-radius:5px;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
	background-color: #f0f0f0;
}
#top #social .social_link:hover{
	background-color: #f5f5f5;
}

#top #saopaulo{
	float: right;
	clear: right;
	margin-top: -60px;
}
#top #data{
	float: right;
	clear: right;
	font-family: "trebuchet ms", "TexGyreAdventor";
	font-style: italic;
	margin-right: 75px;
	color: #8f0000;
	font-size: 16pt;
}

#content{
	float: left;
	margin-left: 25px;
	overflow: hidden;
	width: 600px;
	margin-top: -27px;
	min-height: 1000px; 
        height: auto !important; 
        height: 1000px; 
}

#menu-side{
	margin-top: 20px;
	float: right;
	width: 300px;
	background-color: #e6e6e6;
	margin-right: 25px;
	overflow: hidden;
	padding: 10px;
	border-radius:10px;
	-moz-border-radius:10px;
	-webkit-border-radius:10px;
}

#content-side{
	margin-top: 20px;
	float: right;
	width: 300px;
	background-color: #e6e6e6;
	margin-right: 25px;
	overflow: hidden;
	padding: 10px;
	border-radius:10px;
	-moz-border-radius:10px;
	-webkit-border-radius:10px;
}

#content .title{
	font-size: 24pt;	
	font-weight: bolder;
	margin: 0;
}

#content .title2{
	font-size: 24pt;	
	font-weight: bolder;
	margin: 0;
	color: #fff;
	background-color: #8f0000;
	padding: 0;
	margin-bottom: 30px;
	line-height: 22pt;
	border-radius:5px;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
}


#content-side .title{
	font-size: 12pt;	
	font-style: italic;
}

#content-side .patrocinador {
	float: left;
	overflow: hidden;
	text-align: center;
	background-color: #fff;
	border: 1px solid #d0d0d0;
	padding: 5px;
	margin: 5px;
	border-radius:5px;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
}

#content-side .diamond {
	width: 280px;
	height: 180px;
}
#content-side .platinum{
	width: 280px;
	height: 130px;
}
#content-side .gold {
	width: 280px;
	height:130px;
}
#content-side .silver {
	width: 280px;
	height: 65px;
}

#content-side .bronze {
	width: 125px;
	height: 65px;	
}

#content-side .apoio-left {
	width: 125px;
	height: 65px;
}
#content-side .apoio-right {
	width: 125px;
	height: 65px;
}

#content-side .diamond img {
        margin: auto;
	width: 270px;
}

#content-side .platinum img {
        margin: auto;
	width: 270px;
}

#content-side .gold img {
        margin: auto;
	width: 115px;
}

#content-side .silver img {
        margin: auto;
	width: 115px;
}

#content-side .apoio-left img,
#content-side .apoio-right img {
        margin: auto;
	width: 115px;
}


#content-side .bronze img {
        margin: auto;
	width: 115px;
}

a.linkmais{
	font-size: 10pt;
	padding-left: 5px;
}

#footer {
	margin-top: 20px;
	clear: both;
	background-color: #e6e6e6;	
	font-size: 10pt;
	padding: 10px 20px;
	text-align: center;
	overflow: hidden;
}

#footer img {
	float: left;
	padding-top: 4px;
	padding-right: 10px;
}

#footer #copy {
	float: left;
	text-align: left;
	padding-right: 25px;
	width: 340px;	
}

#footer .title {
	font-size: 14pt;	
	font-family: "trebuchet ms", tahoma;
	font-weight: bolder;
}

#footer .menu {
	float: left;
	padding-left: 15px;
	padding-top: 5px;
	overflow: hidden;
	border-left: 1px solid #ccc;
}

#menu-footer {
	overflow: hidden;
	width: 140px;
	float: left;
	text-align: left;
	margin: 0px;
}

#menu-footer a {
	font-size: 10pt;	
	padding: 0 15px;
}
